name: Simple CI

on:
  push:
  pull_request:

jobs:
  success:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Success message
        run: echo "Workflow completed successfully!"
